.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 40px;
  width: 45%;
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  border: 1px solid #dfdfdf;
  color: #535353;
}

.feed-header i {
  font-size: 20px;
}

.new-tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 15px;
  border: 1px solid #dfdfdf;
}

.pp-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.pp-input img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.pp-input input {
  width: 85%;
  height: 30px;
  padding-top: 6px;
  border: none;
  outline: none;
}

.pp-input input::placeholder {
  font-size: 18px;
}

.extras-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 15px;
}

.tweetComments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
  margin-bottom: 15px;
}

.tweetComments p {
  margin: 0;
  font-size: 13px;
  font-style: italic;
}

.tweetOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
